Repository i-dipanshu/dynamic-conf-circle-ci: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-backend-workflow, run-frontend-workflow

.circleci/config.yml:

version: 2.1


setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          mapping: |
            backend/.* run-backend-workflow true
            frontend/.* run-frontend-workflow true
          base-revision: main
          config-path: .circleci/workflow.yml

fix cnf
  .circleci/config.yml
Due: none

fix config
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

fix config
  .circleci/config.yml
  .circleci/workflow.yml
Due: none

edit frontend
  frontend/sample.txt
Due: run-frontend-workflow

edit frontend
  .circleci/workflow.yml
Due: none

Update sample.txt
  frontend/sample.txt
Due: run-frontend-workflow

update
  .circleci/workflow.yml
  frontend/sample.txt
Due: run-frontend-workflow

edit to trigger both frontend and backend
  backend/sample.txt
  frontend/sample.txt
Due: run-backend-workflow, run-frontend-workflow

add frontend and backend with Dockerfile
  .circleci/config.yml
  backend/.gitignore
  backend/Dockerfile
  backend/LICENSE
  backend/requirements.txt
  backend/sample.txt
  backend/src/app.py
  backend/src/templates/error.html
  backend/src/templates/index.html
  frontend/.gitignore
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/sample.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
Due: run-backend-workflow, run-frontend-workflow

update config.yml
  .circleci/workflow.yml
  README.md
  frontend/src/App.js
Due: run-frontend-workflow

update workflow
  .circleci/workflow.yml
Due: none

trigger frontend build
  .circleci/config.yml
  frontend/src/App.js
Due: run-frontend-workflow

trigger frontend
  .circleci/workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow

trigger frontend and backend ci
  .circleci/config.yml
  .circleci/workflow.yml
  backend/src/app.py
  frontend/src/App.js
Due: run-backend-workflow, run-frontend-workflow

test new config
  .circleci/docker-executor.yml
  .circleci/workflow.yml
  README.md
  frontend/src/App.js
Due: run-frontend-workflow

new config
  .circleci/workflow.yml
Due: none

fix config
  .circleci/workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow

trigger both build and publish
  .circleci/workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow

test config
  .circleci/workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow

test new config
  .circleci/workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow

working state
  .circleci/workflow.yml
Due: none

update logic in config
  .circleci/workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow

Update App.js
  frontend/src/App.js
Due: run-frontend-workflow

trigger backend
  .circleci/backend-workflow.yml
  .circleci/config.yml
  .circleci/frontend-workflow.yml
  backend/src/app.py
Due: run-backend-workflow

pr to trigger both frontend and backend build
  backend/src/app.py
  frontend/src/App.js
Due: run-backend-workflow, run-frontend-workflow

trigger frontend
  .circleci/frontend-workflow.yml
  frontend/src/App.js
Due: run-frontend-workflow
