Repository i-dipanshu/dynamic-conf-circle-ci: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-backend-workflow, run-frontend-workflow

Update App.js
  frontend/src/App.js
Due: run-frontend-workflow

trigger frontend
  .circleci/frontend-workflow.yml
Due: none

edit config
  .circleci/frontend-workflow.yml
Due: none

check config.yml
  .circleci/config.yml
Due: none

new modular config
  .circleci/backend-workflow.yml
  .circleci/config.yml
  .circleci/workflow.yml
  backend/src/app.py
Due: run-backend-workflow

trigger backend
  .circleci/workflow.yml
  backend/src/app.py
Due: run-backend-workflow

Frontend
  frontend/src/App.js
Due: run-frontend-workflow

Frontend 2
  frontend/src/App.js
Due: run-frontend-workflow

backend 2
  backend/src/app.py
Due: run-backend-workflow

update config
  .circleci/config.yml
Due: none

frontend
  frontend/src/App.js
Due: run-frontend-workflow

backend
  backend/src/app.py
Due: run-backend-workflow

1-frontend
  frontend/src/App.js
Due: run-frontend-workflow

2-frontend
  frontend/src/App.js
Due: run-frontend-workflow

1-backend
  backend/src/app.py
Due: run-backend-workflow

2-backend
  backend/src/app.py
Due: run-backend-workflow

Path conditions:
  run-backend-workflow: any of: backend/.*
  run-frontend-workflow: any of: frontend/.*
